/* ************ Custom Properties ************ */
:root {
  --primary-color: #c50e25;
  --secondary-color: #f6ba3d;
  --third-color: #f88b02;
  --fourth-color: #f2e8d0;
  --fifth-color:  #f0e343;
  --sixth-color: #a3c20f;
  --white-color: #fff;
  --gray: 333;
  --dongle: 'Dongle', sans-serif;
}

/* *************** Reset *************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--dongle);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 { font-size: 2.75rem; }

h2 { font-size: 1.25rem; }

h3 { font-size: 1rem; }

/* *************** Components *************** */

/* Header */
.header {
  background-color: var(--sixth-color);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  text-align: center;
}

/* Main */
main{
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: var(--primary-color);
}

.container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container .box{
  background: var(--fourth-color);
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  transition: 0.5s;
}

.container .box a p {
  background-color: var(--sixth-color);
  border-radius: 0.25rem;
  padding: 0.10rem 0.50rem;
  text-align: center;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.container .box a {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.75rem;
  text-decoration: none;
}

.container .box:hover{
  background: var(--fifth-color);
}

.container .box a p:hover {
  background-color: var(--fourth-color);
}

.container .box img{
  position: relative;
  max-width: 150px;
  margin-bottom: 3px;
}

.container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}

.container .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

@media (max-width: 578px){
  .container {
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .container .box{
    grid-column: unset !important;
    grid-row: unset !important;
  }
}

@media (min-width: 579px) and (max-width: 911px){
  .container {
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .container .box{
    grid-column: unset !important;
    grid-row: unset !important;
  }
}


.class1 {
  background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
  background-color: var(--sixth-color);
}

/* Footer */
.footer {
  background-color: var(--sixth-color);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
}

/* *************** Utilities *************** */
/*una regla que solo modifica un atributo de css*/

/* *************** Site Styles *************** */